<#assign basePath="${request.getContextPath()}" />
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>index</title>

<link rel="stylesheet" href="${basePath}/static/jquery-ui-bootstrap/assets/css/bootstrap.min.css">
<link rel="stylesheet" href="${basePath}/static/jquery-ui-bootstrap/css/custom-theme/jquery-ui-1.10.3.custom.css">
<!--<link rel="stylesheet" href="${basePath}/static/jquery-ui-bootstrap/css/custom-theme/jquery-ui-1.10.3.theme.css">-->
<link rel="stylesheet" href="${basePath}/static/jquery-ui-bootstrap/assets/css/font-awesome.min.css">
<!--[if IE 7]>
    <link rel="stylesheet" href="${basePath}/static/jquery-ui-bootstrap/assets/css/font-awesome-ie7.min.css">
    <![endif]-->
<!--[if lt IE 9]>
    <link rel="stylesheet" href="${basePath}/static/jquery-ui-bootstrap/css/custom-theme/jquery.ui.1.10.3.ie.css">
    <![endif]-->

<!-- <link href="${basePath}/static/jquery-ui/jquery-ui.min.css" rel="stylesheet"> -->
<!-- <link href="${basePath}/static/bootstrap/css/bootstrap.min.css" rel="stylesheet"> -->
<link href="${basePath}/static/core/main.css">

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="${basePath}/static/js/html5shiv.min.js"></script>
      <script src="${basePath}/static/js/respond.min.js"></script>
    <![endif]-->

<script src="${basePath}/static/js/jquery.min.js"></script>
<script src="${basePath}/static/jquery-ui/jquery-ui.min.js"></script>
<script src="${basePath}/static/easyui/jquery.easyui.min.js"></script>
<script src="${basePath}/static/bootstrap/js/bootstrap.min.js"></script>
<script src="${basePath}/static/core/main.js"></script>
<script>
//	$(function() {
//		$("#datepicker").datepicker();
//		$("#format").change(function() {
//			$("#datepicker").datepicker("option", "dateFormat", $(this).val());
//		});
//	});
</script>

</head>
<body>
<a href="springmvc/databind">springmvc-databind</a>
</body>
</html>